@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#FDFBF7] text-[#30383B] antialiased;
    font-family: 'Inter', sans-serif;
    line-height: 1.7;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
  }
}
